constant a_times_b : t_matrix := (
    -----------------------------------a * b--------------------------------------------
    to_instr("0000", "0000", "00"), -- nop, a -> buf a, nop
    to_instr("0000", "0001", "00"), -- nop, b -> buf b, nop
    to_instr("1111", "0110", "00"), -- a*b, s -> cache1, nop
    to_instr("0000", "0110", "01"), -- nop, s -> cache1, resout -> cache1,
    ------------------------------------------------------------------------------------
    others => "0000000001"
);