dut.program_choice.value = LogicArray("10")
for a in range(4):
    for b in range(4):
        reset(dut)
        dut.a_in.value = LogicArray(a, Range(3, 'downto', 0))
        dut.b_in.value = LogicArray(b, Range(3, 'downto', 0))

        await n_cycles(dut, 60)
        
        expected_value = LogicArray(dut.a_in.value)[0] & LogicArray(dut.b_in.value)[1]
        expected_value |= LogicArray(dut.a_in.value)[1] & LogicArray(dut.b_in.value)[0]

        assert LogicArray(dut.final_output.value) == LogicArray(int(expected_value), Range(7,'downto',0))

        dut.program_choice.value = LogicArray("00")
        await n_cycles(dut, 1)
        dut.program_choice.value = LogicArray("10")